
header {
    background-color: #4aaaa5;
    color:#ffffff;
    float: left;
    margin-left: 125px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 15px 15px;
    vertical-align: middle;
    border-bottom: none;
}


#profilePic {
    float: left;
    margin-right: 20px;
    width:150px;
    height:200px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white
}

li {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    float: right;
    border-right: 1px solid #bbbbbb;
    color: white;
    font-style: bold;
}

li a{
    display: block;
    color: #bbbbbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
}